<%= @user.name %> -- <%= @user.email %>
<br>List of Auctions:
<% if @user.auctions.any? %>
	<% @auctions.each do |auction| %>
		<li>
			<%= link_to auction.content, auction%>
		</li>
	<% end %>
<% end %>

<% if signed_in? %>
	Loggado
<% else %>
	Nao logado
<% end %>
